@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

Create Profile

<br> 
<form action="Create" method="post">
    <table> 
           <tr>
               <td> Name: </td>
               <td><input type="text" name="Name"/> </td>
               <td> Surname: </td>
               <td> <input type="text" name="Surname"></td>
               <td> DateOfBirth: </td>
               <td> <input type="Date" name="DateOfBirth"></td>
               <td> Age: </td>
               <td> <input type="int" name="Age"></td>
               <td> Country: </td>
               <td> <input type="text" name="Country"></td>
               <td> City: </td>
               <td> <input type="text" name="City"></td>
               <td> <input type="submit" value="Submit Form"/>  </td>
            </tr>
    </table>

</form>
