@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

Create Profiles

<br> 
<form action="Create" method="post">
    <table> 
           <tr>
               <td> Name: </td>
               <td><input type="text" name="Name"/> </td>
        <tr>
            <td> Surname: </td>
            <td> <input type="text" name="Surname"></td>
        </tr>
        <tr>
            <td> DateOfBirth: </td>
            <td> <input type="Date" name="DateOfBirth"></td>
        </tr>
        <tr>
            <td> Age: </td>
            <td> <input type="int" name="Age"></td>
        </tr>
        <tr>
            <td> Country: </td>
            <td> <input type="text" name="Country"></td>
        </tr>
        <tr>
            <td> City: </td>
            <td> <input type="text" name="City"></td>
        </tr>
        <input type ="hidden" />
        <tr> <td> <input type="submit" value="Submit Form" />  </td> </tr>

    </table>

</form>
